#signup{
    margin-bottom: 15px;
    margin-left: 15px;
    background-color: rgb(102,102,255);
    border-color: rgb(102,102,255);
    margin-top: 10px;
  }
  #logo{
    margin-left: 150px;
    margin-top: 10px;
  }
  #error{
    margin-left: 30px;
  }
  .roadImageOne{
<<<<<<< HEAD
    width: 410px; 
    margin-left: -45px;
  }
  .roadImageTwo{
    width: 410px; 
    margin-left: 25px;
  }
  #SignupForm{
    margin-left: 45px;
  }
=======
    width: 100%; 
    margin-left: -45px;
    height: 85%;

  }
  .roadImageTwo{
    width: 100%; 
    margin-left: 25px;
    height: 83%;
  }
  #SignupForm{
    margin-left: 45px;
  }
>>>>>>> dc1ac1a9d327aa99d78c042cb7c0f70c0e8c0c2e
