
.jumbotron {
    width: 100%;
    text-align: center;
    height: 10%;
    vertical-align: middle;
    margin-bottom: -50px;
}

#welcome {
    text-align: left;
    margin-top: -30px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.container{
    margin-left: 55px;
}