
.jumbotron {
    width: 100%;
    text-align: center;
    height: 10%;
    vertical-align: middle;
    background-color: black;
    margin-bottom: -50px;
}

#welcome {
    text-align: left;
    margin-top: -30px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

.container{
    margin-left: -25px;
}

#logo {
    width: 130px;
    margin-right: 10px;
}
.display-5 {
color: rgb(102,102,255)
}