#road img{
    width: 155%;
    margin-left: -100px;
    padding-right: -100px;
    height: 100%;
 }
 #logo img{
    width: 110px;
    margin-top: 15px;
    margin-left: -50px;
    margin-bottom: 40px;
 }
#account{
    font-size: 12px;
    text-align: center;
    color: green;
    margin-left: -240px;
}
#create {
    margin-bottom: 100px;
    margin-top: -10px;
    margin-left: -120px;
}
#login {
    margin-bottom: 15px;
    margin-left: 15px;
    background-color: rgb(102,102,255);
    border-color: rgb(102,102,255);
}
#initialmessage {
    color: gray;
    width: 100%;
    font-size: 13px;
    text-align: left;
    text-align: center;
    margin-bottom: 20px;
    margin-left: -100px;
}
#titletext {
    color: rgb(102,102,255);
    font-size: 16px;
    text-align: center;
    margin-left: -220px;
}
#loginmessage {
    color: rgb(102,102,255);
    margin-left: -60px;
}
#error{
    margin-left: 40px;
}
.pure-form {
    margin-left: -160px;
}